* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 5px;
}

h1, h2, h3 {
  color: rgb(198, 92, 40);
  font-weight: 950;
}

h1 {
  text-align: center;
  font-size: 70px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  background-image: url('./banner2.jpg');
  padding: 100px;
  box-sizing: border-box;
  margin: 0;
}

#goal {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
}

.photo {
  height: 200px;
  padding: 0 15px;
}

.bottom-nav {
  color: rgb(198, 92, 40);
  font-weight: 900;
}

h2 {
  font-size: 45px;
  padding-bottom: 10px;
}

h3 {
  font-size: 30px;
}

#description {
  font-size: 20px;
  font-style: italic;
  margin-top: 20px;
}

#saltah-up, #cake-up, #lasagna-up {
  height: 250px;
  padding-bottom: 20px;
}